header{
  background-color: black;
  margin-left: -8px;
  background: rgb(0, 0, 0);
  width: 98.75vw;
  height: 60px;

}
nav{
  margin-top: -20px;
}
ul{
  padding-top: 20px;
display: flex;
gap: 10px;
justify-self: flex-end;
justify-content: flex-end;
padding-right: 10px;
list-style: none;
 
}

a{
  text-decoration: none;
  color: white;

}
.rank{
  width: 103.2%;
  border-radius: 10px;
  margin-left: -10px;
}
.card{
  background-color: grey;
  width: 70%;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
}
body{
  font-family: 'Poppins';
}
.nav > li > a{
  font-weight: bold;
font-size: 25px;
}
a:hover{
  color: blue;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
footer ul {
  display: flex;
  flex-direction: column;
}
footer li+li{
  padding-top: 50px;
}
footer{margin-top: 20px;
  width: 98.20vw;
}
footer a {
  color: blue;
}
.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  margin-left: -8px;
  padding-left: 20px;
gap: 30px;
}
.font2{
  margin-left: 50px;
}