body{
    font-family: 'Poppins';
  }
  .cabecalho{
    display: flex;
   justify-content: space-between;
   padding: 30px;
   max-width: 1440px;
   margin: 0 auto;
  }
  .cabecalho .logo{
    width: 55px;
  }
  .cabecalho .menu{
  
    display: flex;
    
    align-items: center;
    height: 100%;
  }
  .container{
    max-width: 1024px;
   
  }
  .cabecalho nav li a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
  }
  .cabecalho nav li a{
    text-decoration: none;
  
  }
  .cabecalho nav a:hover{
    color: blue;
  }
  .container{
    max-width: 1020px;
  
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
    padding: 0px 30px 30px;
  }
  .container .imagem-titulo{
    max-width: 500px;
  }
  .container .descricao{
    color: #a8adb7;
    width: 82%;
    font-size: 18px;
    margin:30px 0px ;
  }
  .container .butao-trailer{
    background-color: purple;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
  }
   .fundo-video{
  
    position: absolute;
    z-index: -1;
    width: 98.7vw;
    height: 99vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
   }
   .fundo-video .video{
    height: 100vh;
   width: 100vw;
   }
   .fundo-video::after{
    content: "";
   
    height: 99vh;
    width: 99vw;
    position: absolute;
    top: 0;
    left: 0;
  

  
   }
   
   .container .butao-trailer:hover{
    transform: scale(1.1);
   }
   
  a,li ul{
    list-style: none;
    text-decoration: none;
  }
  
   h3{
    color: blueviolet;
   }
   .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .espacamento{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   }
  
  .man{
    width: 80%;
    padding-top: 20px;
  margin-left: 100px;
  border-radius: 35px;
  }
  .man1{
    width: 80%;
    padding-top: 20px;
    border-radius: 45px;
    padding-bottom: 30px;padding-left: 100px;
  }
  .bu{
    background-color: purple;
    color: white;
    padding: 13px;
    border-color: purple;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    
  }
  .bu:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
  }
  .fundo{
    background: url(img/IMG_2622-removebg-preview.png);
    background-image: url(img/IMG_2622-removebg-preview.png);
  }
  .produtos:hover{
    background-color: purple;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;}
    .produtos{
      text-align: center;
      align-content: center;
      align-items: center;
      align-self: center;
      margin-left: 500px;
      margin-top: 20px;
      background-color: black;
    color: white;
    padding: 13px;
    border-color: black;
    font-size: 15px;
  
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    }
    .grid3{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      background-color: black;
      color: white;
      margin-left: -8px;
      padding-left: 20px;
    gap: 30px;
    }
    .logo12{
      padding-top: 20px;
      width: 25%;
      padding-left: 20px;
    }
    #footer li{
      margin-left: -35px;
      
    }
    a{
      list-style-type: none;
      text-decoration: none;
    }
    .btw{
      text-align: end;
      padding-top: 20px;
      padding-right: 25px;
    }
    .flex{
      display: flex;
  
     
    }
    .texto{
      position: absolute;
      margin-top: -120px;
     margin-left: 40px;
      color: rgb(255, 251, 251);
     
    }
    #ad{
      color: white;
      text-decoration: none;
    }
    .conteudo{
      width: 90%;
     height: 370px;
      border-radius: 30px;
   position: relative;
   align-items: end;
   align-content: end;
      padding-left: 20px;
    }
    .buttom-float{
      position: relative;
      align-self: flex-end;
      margin-left: 1200px;
      margin-bottom: 20px;
      background-color: blue;
      color: white;
      border-color: blue;
      padding: 5px;
      border-radius: 10px;
    }
    .back{
      background-color: yellow;
    }
    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.marg{
  margin-left: 100px;
  margin-bottom: 20px;
}
.socio{
  width: 850px;
  padding-top: 20px;
  margin-left: 250px;
  margin-bottom: 20px;
  height: 190px;
}
  th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }
  .conheça{
    background-color: blue;
    border-color: blue;
    margin-left: 950px;
    color: #fff;
    margin-bottom: 20px;
  }
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 30px;
}
  th {
      background-color: #4CAF50;
      color: white;
  }

  footer a{
    text-decoration: none;
  }
  tbody tr:hover {
      background-color: #f5f5f5;
  }
    .buton{
      background-color: blue;
      border-color: blue;
      color: white;
      margin-bottom: 5px;
      margin-left: 30px;
      padding: 4px;
    }
    .grid4{
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }
    .colum{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .tamanho{
      width: 80%;
    }
.red{
  background-color: red;
  border-color: red;
  color: white;
  padding: 2px;
}
.acessorios{
  width: 659px;
margin-bottom: 30px;
margin: 0 auto;

}

.acessorios2{
  width: 690px;
  margin-left: -10px;
  height: 330px;
  margin: 0 auto;
  
}
a{
  text-decoration:none;
}
.pad{
  padding-bottom: 20px;
  color: white;
  padding-left: 20px;
}
    @media( min-width: 300px) and (max-width:500px){
   
      .cabecalho nav li a{
        font-size: 9px;
        padding: 10px;
        display: flex;
      }
      .cabecalho{
        margin-left: -100px;
        padding: 0px;
      }
    .fundo,.fle,.fundo{
      display: flex;
    flex-direction: column;
    
    }
    .imf2{
      margin-top: 200 px;
    }
    .imf4{
      margin-left: 50px;
    }
    .fundo{
      height: 200px;
    }
    .mario{
      display: none;
    }
    .acessorios{
      width: 359px;
    margin-bottom: 30px;
    
    }
    .acessorios2{
      width: 390px;
      margin-left: -10px;
      height: 330px;
      
    }
  
    }