header{
    background-color: black;
    margin-left: -8px;
    background: rgb(0, 0, 0);
    width: 98.76vw;
    height: 60px;
  
  }
  nav{
    margin-top: -20px;
  }
   header ul{
    padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-self: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
  list-style: none;
   
  }
  a{
    text-decoration: none;
    color: white;
  }  
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ft{
    width: 70%;
    padding-left: 150px;
    padding-top: 50px;
  }
  .mg{
    padding-top: 40px;
  }
  .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ft1{
    width: 90%;padding-top: 20px;
  }