header{
    background-color: black;
    margin-left: -8px;
    background: rgb(0, 0, 0);
    width: 98.76vw;
    height: 60px;
  
  }
  nav{
    margin-top: -20px;
  }
   header ul{
    padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-self: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
  list-style: none;
   
  }
  a{
    text-decoration: none;
    color: white;
  }  
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .red{
    background-color: rgb(0, 0, 0);
    margin-left: -10px;
    color: white;
    padding: 15px;
    margin-top: 10px;
  }
  .pad{
   margin-left: 30px;
  }
  .grid23{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
  }
  .noticias{
    width: 95%;
  }
  .grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-left: 20px;
  gap: 30px;
  }
  ul{
    list-style: none;
  }
   footer li+li{
    padding-top: 20px;
  }
  footer{
    width: 98.20vw;
  }
  footer a {
    color: rgb(255, 255, 255);
  }
  footer a:hover {
    color: rgb(255, 0, 0);
  }
  .color{
    background-color: yellow;
    border-radius: 20px;
    width: 70%;
    padding: 20px;
  }
  .font2{
    padding-left: 34px;
  }
  .sociedade{
    width: 98.75vw;
    margin-left: -8px;
    height: 350px;
    opacity: 55%;
  
  }
  header a:hover{
    color: blue;
  }
  .text{
    color: white;
    margin-top: -30px;
    padding-left: 5px;
    font-size: 20px;
  }
